@use '../../styles/variables' as v;

.card {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;

  @media (max-width: #{v.$breakpoint-mobile}) {
    aspect-ratio: auto;
    height: 255px;
    ;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: v.$white;
    font-size: 18px;
    font-weight: 500;
  }
}