@use '../../styles/variables' as v;

.collapse {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        padding: 0 20px;
        background-color: v.$primary-color;
        border-radius: 5px;
        cursor: pointer;
    }

    &__title {
        color: v.$white;
        font-size: 24px;
        font-weight: 700;
    }

    &__arrow {
        transition: transform 0.3s;

        &--open {
        transform: rotate(180deg);
        }
    }

    &__content {
        padding: 20px 30px;
        background-color: #f6f6f6;
        border-radius: 0 0 5px 5px;
    }
}