@use '../../styles/variables' as v;

.collapse {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 20px;
    background-color: v.$primary-color;
    border-radius: 5px;
    cursor: pointer;

    @media (max-width: #{v.$breakpoint-mobile}) {
      height: 30px;
    }

    &--open {
      border-radius: 5px 5px 0 0;
    }
  }

  &__title {
    color: v.$white;
    font-size: 24px;
    font-weight: 700;

    @media (max-width: #{v.$breakpoint-mobile}) {
      font-size: 13px;
    }
  }

  &__arrow {
    transition: transform 0.3s;

    @media (max-width: #{v.$breakpoint-mobile}) {
      width: 16px;
      height: 9px;
    }

    &--open {
      transform: rotate(180deg);
    }
  }

  &__content {
    padding: 20px 30px;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    @media (max-width: #{v.$breakpoint-mobile}) {
        padding: 10px 15px;
    }
  }
}