@use '../../styles/variables' as v;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 209px;
  background-color: v.$black;
  margin-top: 50px;

  &__logo {
    height: 39px;
  }

  &__text {
    color: v.$white;
    font-size: 24px;
    text-align: center;

    @media (max-width: #{v.$breakpoint-mobile}) {
      font-size: 12px;
    }
  }
}